.covered-block {
  width: 100%;
  /* background: url(./images/img/__background.jpg) 50% 50% no-repeat; */
  background-size: cover;
  position: relative;
}
/* понимаю что не по БЭМ но как сделать по другому не знаю */
.covered-block:hover > .covered-block__overlay{
  background-color: #181818;
  opacity: .8;
}
