.places__place {
  margin: 81px auto 0;
}
.places__place:first-of-type {
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .places__place {
    margin: 73px auto 0;
  }
}

@media (max-width: 767px) {
  .places__place {
    margin: 50px auto 0;
  }
}
