.cover_position {
  margin: 92px auto 0;
}

@media (max-width: 1023px) {
  .cover_position {
    margin: 90px auto 0;
  }
}

@media (max-width: 767px) {
  .cover_position {
    margin: 66px auto 0;
  }
}
