.covered-block__title {
  margin: 0 auto;
  padding: 0;
  font-size: 72px;
  line-height: 1.05;
  font-weight: 900;

  max-width: 560px;
  text-align: center;
}

@media (max-width: 767px) {
  .covered-block__title {
    font-size: 32px;
    line-height: 1.1;
  }
}
